body {
    background-color:white;
}
li {
    display: inline;
}
body {

}
div {
}
#contact {
    width:400px;

    height:600px;

    border:1px solid;

    resize:both;

    overflow:auto;

    margin: 10px;

    padding: 10px;
}
center
{
    display: flex;
    flex-direction:row;
    justify-content: center;

}

a {
    color:green;
}
a:hover{
    background-color:red ;
    transition: background-color .5s;
    color: #300;


}
